// Select
//MAin-Select
.main-select {
  border-radius: 4px;
  padding: 0.2rem;
  font-size: 13px;
  transition: $transition;
  border: 1px solid $light-grey-color ;
  &:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  outline: none;
}
}

.add-comment {
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  padding-inline-end: 0;
  border: 1px solid $main-color;
  .inp {
    padding: 0.5rem 1rem;
    width: calc(100% - 2rem - 45px);
    border: 0;
    outline: 0;
    resize: none;
  }
  .btn-comment {
    background-color: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    inset-inline-end: 1rem;
    width: 45px;
    height: 45px;
    color: white;
    svg,i,img {
      width: 19px;
      height: auto;
    }
  }
}