/*_______colors_______*/
$main-color: var(--main-color);
$main-color-dark: var(--main-color-dark);
$sec-color: #c32231;
$main-color-50: hsla(193, 99%, 45%, 0.5);
$grey-color: #9c9c9c;
$color-box-shadow: #e4e4e485;
$light-grey-color: #ddd;
$light-greey: #f9fafb;
$text-greey: #6b7280;
$greey-blue: #8f9ab8;
$section-color: #f7f6fe;
$bg-dark: #313131;
$bg-dark-light: #4e4e4e;
$white: white;

/*_______transition_______*/
$transition: 300ms;
$text-color1: rgba(0, 0, 0, 0.6);
$text-color2: #0b2239;
$text-color3: #000000;
$text-color4: #555555;

